@using System.Web.Configuration
@using Pixelator.Web.Config
@using Pixelator.Web.Helpers;
@{
    ViewBag.Title = "About";
}

<div id="AboutText" class="Fill">
    <div class="Section">
        <div class="Content">
            Pixelator.io is a web service that allows you to store your files and data securely within the pixels of a picture.
            This picture can be stored, viewed, shared then decoded as needed.
        </div>
        <div class="Section">
            <div class="Title">Steps</div>
            <div class="Content">
                <ul class="Steps">
                    <li>
                        <p>Select a cover picture, the data that you want to store and optionally provide a password to securely encrypt your data.</p>
                    </li>
                    <li>
                        <p>Download and save the picture containing the encoded data.</p>
                    </li>
                    <li>
                        <p>When required you can return with the picture and password to retrieve your original data.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="Title">Pixelator has gone open source</div>
        <div class="Content">
            You can now access the source code for the:
            <ul class="Plain">
                <li>
                    <a href="https://github.com/TimeToogo/Pixelator.Api">Image transcoding API</a>
                </li>
                <li>
                    <a href="https://github.com/TimeToogo/Pixelator.Web">This website</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="Section">
        <div class="Title">A note on security</div>
        <div class="Content">
            Pixelator.io is built with the security of your data in mind. Uploading and downloading of your data is done securely
            over the internet under a HTTPS connection. Your data will not be stored in its raw format on our servers and the encoded
            pictures are only stored for about @Configuration.Transcoding.JobExpiryIntervalSeconds seconds to allow you to
            download the results. If a password is provided, the encoded picture will contain your data in a secure encrypted form.
            We currently use the AES encryption algorithm combined with strong password hashing to ensure your data is secure as possible.
        </div>
    </div>
    <div class="Section">
        <div class="Title">Current limitations:</div>
        <div class="Content">
            <table>
                <tr>
                    <th>Encoding Mode:</th>
                    <th>Data Limit</th>
                </tr>
                <tr>
                    <td>Without Cover Picture:</td>
                    <td>@FileSize.Format(Configuration.Transcoding.EncodedDataLimits.RawStorage)</td>
                </tr>
                <tr>
                    <td>High Pixel Storage (More distorted):</td>
                    <td>@FileSize.Format(Configuration.Transcoding.EncodedDataLimits.HighPixelStorage)</td>
                </tr>
                <tr>
                    <td>Medium Pixel Storage:</td>
                    <td>@FileSize.Format(Configuration.Transcoding.EncodedDataLimits.MediumPixelStorage)</td>
                </tr>
                <tr>
                    <td>Low Pixel Storage (Less distorted):</td>
                    <td>@FileSize.Format(Configuration.Transcoding.EncodedDataLimits.LowPixelStorage)</td>
                </tr>
            </table>
            <p>
                <strong>Cover Picture Size Limit:</strong> @(Configuration.Transcoding.EmbeddedPictureLimits.Width)px
                x
                @(Configuration.Transcoding.EmbeddedPictureLimits.Height)px
            </p>
        </div>
    </div>
    <div class="Section">
        <div class="Content">
            <span id="SiteBy">Site by <a href="http://elliotswebsite.com/" target="_blank">TimeToogo</a></span>
        </div>
    </div>
</div>

@section css {
    @Styles.Render("~/Content/Css/About/Index.css")
}